fastapi
fastapi-featureflags
uvicorn
pydantic
firebase-admin
python-dotenv
bizlogic
ipfsclient
ipfskvs
uuidtoimage
httpx
tenacity

# for tests and linting
nox
mock
pytest
pytest-cov
flake8
flake8-docstrings
flake8-annotations
flake8-import-order
Faker
